**/env/
**/__pycache__/
**/physionet/
**/image_classifier/

**/ecg/csv/train/*.csv
**/ecg/csv/test/*.csv

**/ecg/images/train/*.png
**/ecg/images/test/*.png

**/results/images/*.png
**/results/images/*.PNG
